header{
    background-color:#C0C0C0;
    background-image: url(flywheel.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    padding: 10px 10px 0px 10px;
    text-align: center;
}
body{
    padding: 1%;
    margin: 1%;
}
nav a{
    text-decoration: none;
    display: inline-block;
    margin: 2%;
   -webkit-border-radius: 5;
	-moz-border-radius: 5;
	-o-border-radius: 5;
    border-radius: 11%;
    padding: 10px 35px 15px 35px;
    
    background-color: #C0C0C0;
    background-color: rgba(0,0,0,.3);
    color: #000000;
}
.active{
    color:#000000;
    background-color:#ffffff;
}
h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size:xx-large;
}
h2{
    color:#000000;
    text-transform: uppercase;
}
section{
    background-color:#008877;
}
a{
    background-color:#800000;
    color:#00ffcc;
    text-align: center;
}
img{
    display: block;
    width: 175px;
    margin: 0 auto;
    border: 3px solid #000000;
}
.left{
    background-color: #666600;
    width: 20%;
    display: inline-block;
}

.right{
    display: inline-block;
    background-color:#ffffff;
    width:75%;
}

main a{
    margin:2%;
}