header{
	background-color: #b3b3b3;
	background-image: url("../Images/flywheel.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0px 35px;
	margin: 0px;
}

h1{ 
	background:  transparent;
	text-align: center;
	text-transform:uppercase;
	color: #FFFFFF;
}

nav a{
	font-family: Times, Arial, serif;
	font-style:normal;
	text-align: center;
	background:  #FFFFFF;
	opacity: 0.6;
	display: inline-block;
	width: 15%;
	padding: 10px;
	margin-left: 5%;
	border: 2px;
	border-radius: 10px;
	text-decoration: none;
}

nav .active{
	opacity: 1.0;
}

body{
	padding: 0px;
	margin: 5px;
}

.left{
	display: inline-block;
	width: 15%;
	height: 500px;
	padding: 20px;
	background: #666600;
	vertical-align: top;
}

aside a img{
	max-width: 150px;
	height: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	margin-bottom: 10px;
}


.right{
	background:  #FFFFFF;
	display: inline-block;
	width: 80%;
	vertical-align: top;
}


h2{ 
	/* text-transform:uppercase; */
	/* color: #000066; */
}

table{
	font-family: Arial,Times;
	color:#000000;
	border-spacing: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
/*	border: 12px solid black;	*/
/*	-webkit-border-radius: 12px;	*/
/*	border-radius: 0 0 25px 25px;	*/
	padding: 0px;
	margin: 5px 5px 5px 15%;
}
tr{
/*	background: #99FF66;	*/
	background: #CCCC99;
	font-size: 12px;
}

tr:first-child {
	background: #666600;
	background: linear-gradient(#666600, #669933);
	color:#FFFFFF;
	font-size: small;
}

th:first-child {
	text-align: left;
}

th:hover{
	color: #000000;
}


td:first-child {
	text-align: left;
}

td{
	opacity: 0.6;
	text-align: center;
	padding: 5px 20px 5px 10px;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	border-color: #FFFFFF;
}

th{
	text-align: center;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-width: 1px 1px 3px 1px;
	padding: 10px 10px 10px 10px;
	border-color: #FFFFFF;
	border-style: solid;
}

td:hover{
	opacity: 1.0;
}